.container {
  width: 98vw;
  height: 98vh;
  display: flex;
}
.MuiPaper-root {
  width: 100%;
}
.MuiToolbar-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.MuiDialog-paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 40px;
}
.infoRow span {
  margin-left: 5px;
}
.chartContainer {
  margin-top: 50px;
  width: 90%;
  height: 80%;
}
@media (max-height: 350px) and (orientation: landscape) {
  .chartContainer {
    margin-top: 100px;
  }
}
